@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .panel-top {
    @apply z-10 flex justify-between content-center absolute w-full pt-4 px-10
  }

  .panel-bg-img {
    @apply z-0 lg:px-12 lg:w-90p w-4/6 flex justify-center items-stretch
  }

  .panel-bottom {
    @apply z-10 flex justify-between lg:justify-center self-end gap-4 absolute w-full pb-4 px-10
  }

  /* Disable scrolling */
  body {
    @apply overflow-hidden;
    height: 100vh;
    width: 100vw;
  }
}

/* Ensure the app is always in Horizontal view */
@media only screen and (orientation: portrait) {
  body {
    transform: rotate(90deg);
    transform-origin: left top;
    width: 100vh;
    height: 100vw;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}